openapi: 3.0.3
info:
  title: Marketstack API v2
  description: |
    The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAR data endpoints. Also, define multiple stock symbols, retrieve extensive data about 2700+ Stock Exchanges Info, 30000+ Stock tickers from more than 50 countries, as well as 750 + Stock Market indexes, information about timezones, currencies, and more.

    Our API is built upon a RESTful and easy-to-understand request and response structure. API requests are always sent using a simple API request URL with a series of required and optional HTTPS GET parameters, and API responses are provided in lightweight JSON format.
  version: 2.0.0
servers:
- url: https://api.marketstack.com/v2
security:
- ApiKeyQuery: []
tags:
- name: End-of-day
- name: Intraday
- name: Stock Prices
- name: Commodities
- name: Company Ratings
- name: Splits
- name: Dividends
- name: Tickers
- name: Indexes
- name: Exchanges
- name: Currencies
- name: Timezones
- name: Bonds
- name: ETFs
- name: EDGAR
paths:
  /eod:
    get:
      tags:
      - End-of-day
      summary: EOD Data
      description: |-
        You can use the API's `eod` endpoint in order to obtain end-of-day data for one or multiple stock tickers. A single or multiple comma-separated ticker symbols are passed to the API using the `symbols` parameter.


        **Note:**

        * *The EOD data has access to over 500,000 tickers from more major world-known exchanges. The full list of supported tickers and exchanges can be seen here:* [**Download**](https://marketstack.com/download/v2_eod_tickers_finnworlds_tiingo.xlsx)

        * *A daily updated list of all tickers accessible via Marketstack is available for download:* [**Download Ticker List**](https://marketstack.com/download/supported_tickers_2.csv)

        * *The V2 EOD endpoint supports data from **30+ stock exchanges**, including **NASDAQ,** **PINK, SHG, NYSE, NYSE ARCA, OTCQB,** and **BATS***

        * *To retrieve end-of-day data for individual tickers, you can also use the Tickers Endpoint.*

        * ***Ticker Symbol Formatting:** When querying ticker symbols that include a period (.), replace the period with a hyphen (-) in the intraday endpoint. **Example:BRK.B → BRK-B***

        **Adjusted Prices:**
        “**Adjusted**” prices represent stock values that have been modified to accurately reflect the impact of corporate actions such as splits and dividends. These adjustments are applied following the CRSP Calculations methodology established by the **Center for Research in Security Prices (CRSP).**
      operationId: eodGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: EOD data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EODResponse"
      x-swagger-router-controller: EndOfDay
  /eod/latest:
    get:
      tags:
      - End-of-day
      summary: EOD Latest Data
      description: Returns the most recent end-of-day data point for the requested
        symbols.
      operationId: eodLatestGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Latest EOD data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EODResponse"
      x-swagger-router-controller: EndOfDay
  /eod/{date}:
    get:
      tags:
      - End-of-day
      summary: EOD Data for a Specific Date
      description: "Specify a date in `YYYY-MM-DD` format. You can also specify an\
        \ exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`.\
        \ Example, `/eod/2020-01-01`"
      operationId: eodDateGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date
        in: path
        description: Specific date for EOD data. Format `YYYY-MM-DD`.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: EOD data for the date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EODResponse"
      x-swagger-router-controller: EndOfDay
  /intraday:
    get:
      tags:
      - Intraday
      summary: Intraday Data
      description: |-
        In additional to daily end-of-day stock prices, the Marketstack API also supports intraday data with data intervals as short as one minute. Intraday prices are available for all US stock tickers included in the IEX (Investors Exchange) stock exchange.

        To access intraday market data, use the API’s Intraday Endpoint and specify your desired stock ticker symbols.

        **Notes:**

        * *A daily updated list of all tickers accessible via Marketstack is available for download:[**Download Ticker List**](https://marketstack.com/download/supported_tickers_2.csv)*

        * *You can also request intraday data for **individual ticker symbols** using the **Tickers Endpoint.***

        * ***Ticker Symbol Formatting:** When querying ticker symbols that include a period (.), replace the period with a hyphen (-) when using the Intraday Endpoint. **Example:** BRK.B → BRK-B*

        **IMPORTANT NOTE:** In the case of Intraday, Marketstack provides derived data that calculates a real-time reference price for each asset. While this is not a substitute for the TOPS Feed, we believe it will fulfill the needs of 95% of our customer base.

        We’re doing so because as of **February 1st, 2025**, the IEX Exchange has changed its market data policies. To receive the FULL TOPS Feed, you must now have a market data agreement signed with the IEX Exchange. This means that the parameters bidPrice, bidSize, askPrice, askSize, lastPrice, lastSize, mid, and last will all return NULL in the API response for intraday since **IEX entitlement is required** for them. If you still need to have access to TOPS Feed, please contact our customer support team before signing any contract with them.

        For using our derived data, there is no need to have a market data agreement signed with the IEX exchange, and there is no additional cost to the IEX Exchange.`
      operationId: intradayGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: after_hours
        in: query
        description: "If set to true, includes pre and post market data if available.\
          \ By default is set to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Intraday data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntradayResponse"
      x-swagger-router-controller: Intraday
  /intraday/latest:
    get:
      tags:
      - Intraday
      summary: Intraday Latest Data
      description: |-
        Returns the most recent intraday bar for the requested symbols.

        **Real-Time Updates:** Please note that data frequency intervals below 15 minutes (15min) are only supported if you are subscribed to the Professional Plan or higher.

        US equity markets close at **4:00 PM EST**, with trades at or after this time considered after-hours (retrievable with `after_hours=true`), though IEX after-hours data may be sparse, and note that intraday closing prices differ from official EOD closes, which are set via an auction process [Investopedia](https://www.investopedia.com/articles/investing/091113/auction-method-how-nyse-stock-prices-are-set.asp)
      operationId: intradayLatestGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after_hours
        in: query
        description: "If set to true, includes pre and post market data if available.\
          \ By default is set to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Latest intraday data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntradayResponse"
      x-swagger-router-controller: Intraday
  /intraday/{date}:
    get:
      tags:
      - Intraday
      summary: Intraday Data for a Specific Date
      description: "Specify a date in `YYYY-MM-DD` format. You can also specify an\
        \ exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`.\
        \ Example, `/intraday/2020-01-01`"
      operationId: intradayDateGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date
        in: path
        description: Specific date for intraday data. Example `2024-09-27 15:30`.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: after_hours
        in: query
        description: "If set to true, includes pre and post market data if available.\
          \ By default is set to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Intraday data for the date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntradayResponse"
      x-swagger-router-controller: Intraday
  /stockprice:
    get:
      tags:
      - Stock Prices
      summary: Real-time Stock Market Prices
      description: "Real-time Stock Market Prices endpoint delivers instant access\
        \ to live market data for stocks across major exchanges worldwide. Track intraday\
        \ stock performance on `NYSE`, `NASDAQ`, `LON`, `WSE`, `EPA`, `SHE`, `NSE`,\
        \ and much more."
      operationId: stockpriceGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ticker
        in: query
        description: "Ticker for which to retrieve the stock price (e.g., `AAPL`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: exchange
        in: query
        description: "Optional exchange filter (e.g., `NASDAQ`)."
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Real-time stock price data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockPriceResponse"
      x-swagger-router-controller: StockPrices
  /commodities:
    get:
      tags:
      - Commodities
      summary: Commodity Prices
      description: |-
        Get commodity prices of 70+ world-known commodities of energy, metals, industrial, agricultural, and livestock areas.

        **Note:**

        * Rate limit for 1 API call per minute is enforced on this endpoint. See the full list of available commodities in the file presented here:[**Download**](https://marketstack.com/download/marketstack-commodities.xlsx)

        * Historical end-of-day data (`eod`) is available for up to 15 years back, while intraday data (`intraday`) always only offers the last 10,000 entries for each of the intervals available. **Example:** For a 1-minute interval, historical intraday data is available for up to 10,000 minutes back.
      operationId: commoditiesGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: commodity_name
        in: query
        description: "Specify the commodity_name for which you like to receive the\
          \ Price, aluminum for example."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Real-time commodity prices retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommodityResponse"
      x-swagger-router-controller: Commodities
  /commoditieshistory:
    get:
      tags:
      - Commodities
      summary: Commodities Historical Prices
      description: |-
        If you are looking for past commodity prices, you can use the Historical Commodity Prices endpoint, where you can choose specific dates and search by individual commodities. Additionally, the API offers options for daily data from the previous five years or monthly intervals using the `frequency` parameter.

        **Note:**

        * A rate limit of 1 API call per minute is enforced on this endpoint.

        * The recommended historical date range for a single API call is 1 year when requesting daily data. While larger ranges (up to 1.5 years) may work, retrieving data one year at a time ensures consistency.

        * Historical data for Commodities is available for up to 15 years in the past, though coverage varies by commodity type like **Metals:** Typically over 13 years of historical data, with some having as few as 2 years. **Energy:** Generally 15 years of coverage, though a few have up to 10 years. **Industrial:** Usually 15 years, with some limited to 10 years. **Livestock and Agricultural:** Coverage ranges from 9 to 15 years.
      operationId: commoditieshistoryGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: commodity_name
        in: query
        description: "Specify the commodity_name for which you like to receive the\
          \ Price, aluminum for example."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: frequency
        in: query
        description: "Specify the frequency of the commodity prices. Available options\
          \ are `daily`, `weekly`, `monthly`, `quarterly`, and `yearly`. Default is\
          \ `daily`."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - yearly
      responses:
        "200":
          description: Historical commodity prices retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommodityHistoricalResponse"
      x-swagger-router-controller: Commodities
  /companyratings:
    get:
      tags:
      - Company Ratings
      summary: Company Ratings
      description: |-
        The Company Rating Endpoint delivers real-time buy/sell/hold analyst ratings, updated as new reports are published. It also provides 15+ years of historical ratings and price targets to track trends and analyst performance over time.


        **Note:** Rate limit is enforced to 1 API call per minute.
      operationId: companyratingsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ticker
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: rated
        in: query
        description: "Filter response on buy, sell, or hold."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - buy
          - sell
          - hold
      responses:
        "200":
          description: Company ratings data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyRatingsResponse"
      x-swagger-router-controller: CompanyRatings
  /splits:
    get:
      tags:
      - Splits
      summary: Splits Data
      description: |-
        Using the Splits Data endpoint, you will be able to look up information about the stock splits factor for different symbols.


        **Note:** The V2 Splits Endpoint provides split data for symbols listed on **NASDAQ, PINK, SHG, NYSE, NYSE ARCA, OTCQB,** and **BATS**. You can also retrieve split information for individual ticker symbols using the Tickers Endpoint.
      operationId: splitsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Splits data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitsResponse"
      x-swagger-router-controller: Splits
  /dividends:
    get:
      tags:
      - Dividends
      summary: Dividends Data
      description: |-
        Using the Dividends Data endpoint, you will be able to look up information about the stock dividend for different symbols.

        **Note:** The **V2 Dividend Endpoint** provides dividend data for symbols listed on **NASDAQ, PINK, SHG, NYSE, NYSE ARCA, OTCQB,** and **BATS**, and dividend information for individual ticker symbols can also be retrieved using the **Tickers Endpoint**.
      operationId: dividendsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Dividends data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DividendsResponse"
      x-swagger-router-controller: Dividends
  /tickers/{symbol}:
    get:
      tags:
      - Tickers
      summary: Ticker Information
      description: "Using the API's Tickers endpoint you will be able to look up information\
        \ about one or multiple stock ticker symbols as well as obtain end-of-day,\
        \ real-time and intraday market data for single tickers."
      operationId: tickersSymbolGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Ticker information retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerResponse"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/eod:
    get:
      tags:
      - Tickers
      summary: EOD Data for a Specific Ticker
      description: Obtain end-of-day data for a specific stock ticker by attaching
        `/eod` to your URL.
      operationId: tickersSymbolEodGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Tickers eod data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerEodResponse"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/splits:
    get:
      tags:
      - Tickers
      summary: Splits Factor for a Specific Ticker
      description: Obtain ticker splits factor for a specific stock ticker by attaching
        `/splits` to your URL.
      operationId: tickersSymbolSplitsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Tickers splits factor retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerSplitsResponse"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/dividends:
    get:
      tags:
      - Tickers
      summary: Dividends Data for a Specific Ticker
      description: Obtain ticker dividend data for a specific stock ticker by attaching
        `/dividends` to your URL.
      operationId: tickersSymbolDividendsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Tickers dividends data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerDividendsResponse"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/intraday:
    get:
      tags:
      - Tickers
      summary: Intraday Data for a Specific Ticker
      description: Obtain real-time & intraday data for a specific stock ticker by
        attaching `/intraday` to your URL
      operationId: tickersSymbolIntradayGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: after_hours
        in: query
        description: "If set to true, includes pre and post market data if available.\
          \ By default is set to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Tickers intraday data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerIntradayResponse"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/eod/{date}:
    get:
      tags:
      - Tickers
      summary: EOD Data for a Specific Ticker on a Specific Date
      description: "Specify a date in `YYYY-MM-DD` format. You can also specify an\
        \ exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`.\
        \ Example, `/eod/2020-01-01`."
      operationId: tickersSymbolEodDateGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: date
        in: path
        description: "date to look at (e.g., `2020-01-01`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Tickers eod data for the given date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EODBar"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/eod/latest:
    get:
      tags:
      - Tickers
      summary: EOD Data for the Latest Date Available for a Specific Ticker
      description: Obtain eod data for the latest date by specifying stock ticker
        by attaching `/eod/latest` to your URL.
      operationId: tickersSymbolEodLatestGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Tickers eod data for the latest date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EODBar"
      x-swagger-router-controller: Tickers
  /tickers/{symbol}/intraday/latest:
    get:
      tags:
      - Tickers
      summary: Intraday Data for the Latest Date Available for a Specific Ticker
      description: Obtain intraday data for the latest date by specifying stock ticker
        by attaching `/intraday/latest` to your URL.
      operationId: tickersSymbolIntradayLatestGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: path
        description: "Ticker symbol to look up (e.g., `AAPL`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Tickers eod data for the latest date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerIntradayLatestResponse"
      x-swagger-router-controller: Tickers
  /tickerslist:
    get:
      tags:
      - Tickers
      summary: Tickers List
      description: Using the `tickerslist` endpoint you will be able to get the full
        list of supported tickers.
      operationId: tickerslistGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: search
        in: query
        description: Search term to filter tickers by name or symbol.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Tickers list retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickersListResponse"
      x-swagger-router-controller: Tickers
  /tickerinfo:
    get:
      tags:
      - Tickers
      summary: Tickers Info
      description: Using the `tickerinfo` endpoint you will be able to get the full
        information about a ticker.
      operationId: tickerinfoGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ticker
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Ticker information retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerInfoResponse"
      x-swagger-router-controller: Tickers
  /indexlist:
    get:
      tags:
      - Indexes
      summary: Stock Market Index Listing
      description: "The Stock Market Index Listing endpoint delivers instantly real-time\
        \ and historical stock market index data. Also, returns the full list of supported\
        \ benchmarks/indexes."
      operationId: indexlistGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Index list retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexListResponse"
      x-swagger-router-controller: Indexes
  /indexinfo:
    get:
      tags:
      - Indexes
      summary: Stock Market Index Info
      description: The Stock Market Index Info endpoint delivers stock market index
        information and returns the details for the requested index.
      operationId: indexinfoGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: index
        in: query
        description: "Benchmark/index identifier (e.g., `australia_all_ordinaries`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Index info retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexInfoResponse"
      x-swagger-router-controller: Indexes
  /exchanges:
    get:
      tags:
      - Exchanges
      summary: Exchanges
      description: "Using the Exchanges endpoint you will be able to look up information\
        \ any of the 2700+ stock exchanges supported by this endpoint. This endpoint\
        \ provides general information about several stock exchanges. Not all stock\
        \ exchanges found here are supported by other Marketstack endpoints. For the\
        \ supported stock exchanges supported by each endpoint, please verify each\
        \ endpoint documentation."
      operationId: exchangesGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: search
        in: query
        description: Search term to filter tickers by name or symbol.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Exchanges list retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangesResponse"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}:
    get:
      tags:
      - Exchanges
      summary: Specific Stock Exchange Info
      description: Returns detailed information for a single exchange (by MIC).
      operationId: exchangesMicGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Exchange retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangesResponse"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/tickers:
    get:
      tags:
      - Exchanges
      summary: Specific Stock Exchange Tickers
      description: Returns tickers listed on a specific exchange.
      operationId: exchangesMicTickersGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Exchange tickers retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeMicTickersResponse"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/eod:
    get:
      tags:
      - Exchanges
      summary: EOD Data for a Specific Stock Exchange
      description: Returns EOD data for all symbols on a specific exchange.
      operationId: exchangesMicEodGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: exchange
        in: query
        description: Filter your results based on a specific stock exchange by specifying
          the MIC identification of a stock exchange.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Exchange EOD data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangesMicEod"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/eod/latest:
    get:
      tags:
      - Exchanges
      summary: EOD Data for the Latest Date Available for a Specific Stock Exchange
      description: Returns EOD data for the latest date avialbale for all symbols
        on a specific exchange.
      operationId: exchangesMicEodLatestGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Latest EOD data for the exchange retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangesMicEod"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/eod/{date}:
    get:
      tags:
      - Exchanges
      summary: EOD Data for a Specific Stock Exchange on a Specific Date
      description: Returns EOD data for the given date for all symbols on a specific
        exchange.
      operationId: exchangesMicEodDateGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: date
        in: path
        description: Specific date for EOD data. Format `YYYY-MM-DD`.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: EOD data for the exchange and date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangesMicEod"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/intraday:
    get:
      tags:
      - Exchanges
      summary: Intraday Data for a Specific Stock Exchange
      description: Returns intraday data for all symbols on a specific exchange.
      operationId: exchangesMicIntradayGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Exchange intraday data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntradayResponse"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/intraday/latest:
    get:
      tags:
      - Exchanges
      summary: Intraday Data for the Latest Date Available for a Specific Stock Exchange
      description: Returns intraday data for the latest date avialbale for all symbols
        on a specific exchange.
      operationId: exchangesMicIntradayLatestGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      responses:
        "200":
          description: Latest intraday data for the exchange retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntradayResponse"
      x-swagger-router-controller: Exchanges
  /exchanges/{mic}/intraday/{date}:
    get:
      tags:
      - Exchanges
      summary: Intraday Data for a Specific Stock Exchange on a Specific Date
      description: Returns intraday data for the given date for all symbols on a specific
        exchange.
      operationId: exchangesMicIntradayDateGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: symbols
        in: query
        description: "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mic
        in: path
        description: "Exchange MIC identifier (e.g., `XNAS`)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: date
        in: path
        description: Specific date for intraday data. Example `2024-09-27 15:30`.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: interval
        in: query
        description: Intraday aggregation interval.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1min
          - 5min
          - 10min
          - 15min
          - 30min
          - 1hour
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Exchange intraday data for the date retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntradayResponse"
      x-swagger-router-controller: Exchanges
  /currencies:
    get:
      tags:
      - Currencies
      summary: Currencies
      description: Returns a paginated list of supported currencies by Marketstack
        API.
      operationId: currenciesGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Currencies retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrenciesResponse"
      x-swagger-router-controller: Currencies
  /timezones:
    get:
      tags:
      - Timezones
      summary: Timezones
      description: Returns a paginated list of supported timezones by Marketstack
        API.
      operationId: timezonesGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Timezones retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimezonesResponse"
      x-swagger-router-controller: Timezones
  /bondlist:
    get:
      tags:
      - Bonds
      summary: Bonds Listing
      description: The Bonds Listing endpoint delivers the list of the supported countries
        data. Return the full list of supported countries.
      operationId: bondlistGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: Bonds country list retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondListResponse"
      x-swagger-router-controller: Bonds
  /bond:
    get:
      tags:
      - Bonds
      summary: Bond Info
      description: The Bond endpoint delivers immediately real-time government bond
        data. The bond data focuses on treasury notes issued in leading countries
        worldwide for ten years. The Bond API delivers info for every country. Endpoint
        returns the details for the desired country.
      operationId: bondGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: country
        in: query
        description: "Country name for bonds endpoint (e.g., `kenya`, `united%20states`)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Bond info retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondInfoResponse"
      x-swagger-router-controller: Bonds
  /etflist:
    get:
      tags:
      - ETFs
      summary: ETF Holdings Listing
      description: |-
        The ETF Holdings Listing endpoint delivers instantly complete set of exchange-traded funds data based on the unique identifier code of an ETF data. The endpoint returns a full list of supported ETF tickers.


        The example API request below demonstrates how to retrieve **ETF holdings data.**

        **Note:** The ETF API endpoints apply a **call count multiplier of 20.**
      operationId: etflistGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: list
        in: query
        description: ETF list type; currently `ticker`.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ticker
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: ETF tickers retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ETFListResponse"
      x-swagger-router-controller: ETFs
  /etfholdings:
    get:
      tags:
      - ETFs
      summary: ETF Holdings Info
      description: |-
        ETF Holding Info (timeframe) holding data within a specified date range using a unique ticker identifier. You can adjust the `ticker`, `date_from`, and `date_to` parameters based on your specific needs.

        The example API request below demonstrates how to retrieve **stock market index information.**

        **Note:**The ETF API endpoints use a **call count multiplier of 20.**
      operationId: etfholdingsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ticker
        in: query
        description: ETF ticker symbol.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      responses:
        "200":
          description: ETF holdings retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ETFHoldingsResponse"
      x-swagger-router-controller: ETFs
  /cik_code:
    get:
      tags:
      - EDGAR
      summary: Find CIK Code by Company Name
      description: "Endpoint provides CIK code information with a search by company\
        \ name or part of the company name. For example, if you search for “APP” in\
        \ the response, the endpoint will provide information on the CIK code for\
        \ all of the companies that we have in the database that have “APP” (“app”\
        ) in their name. If you enter “Example LLC”, then the API will give a response\
        \ with all companies having “Example LLC” in the name, Example LLC Florida,\
        \ Example LLC., Example LLC International, etc."
      operationId: cik_codeGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: company_name
        in: query
        description: Company name (min 3 letters) used to search CIK codes.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Pagination limit (results per page). Default 100, maximum 1000."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Pagination offset (number of results to skip). Default 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          description: CIK search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CIKSearchResponse"
      x-swagger-router-controller: EDGAR
  /company_name:
    get:
      tags:
      - EDGAR
      summary: Find Company Name by CIK Code
      description: "Find Company Name by CIK code, which will provide a company name\
        \ with a search by the CIK Code. The CIK code must be entered with all 10\
        \ digits, including leading zeros if any. Since the CIK code is a unique code\
        \ for every company, we also have CIK code validation, meaning if the CIK\
        \ code is not entered in the correct format with all of the digits, we return\
        \ an error for invalid CIK format. This API endpoint returns data only in\
        \ case we have an exact match in the CIK code."
      operationId: company_nameGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: cik_code
        in: query
        description: 10-digit SEC Central Index Key (with leading zeros).
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Company information retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyNameByCIKResponse"
      x-swagger-router-controller: EDGAR
  /submissions:
    get:
      tags:
      - EDGAR
      summary: Company Submission Data
      description: Returns submission details for a specific CIK. Pass atleast one
        parameter `cik_code_name` or  `cik_code`
      operationId: submissionsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: cik_code
        in: query
        description: "The exact 10-digit CIK code including leading zeros (e.g., `0001509697`)."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cik_code_name
        in: query
        description: "The exact 10-digit CIK code including leading zeros ending with\
          \ -submissions.json (e.g., `CIK0001509697-submissions.json`)."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: report_from
        in: query
        description: Filter filings by report date from this date (YYYY-MM-DD).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: report_to
        in: query
        description: Filter filings by report date to this date (YYYY-MM-DD).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: filing_from
        in: query
        description: Filter filings by filing date from this date (YYYY-MM-DD).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: filing_to
        in: query
        description: Filter filings by filing date to this date (YYYY-MM-DD).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: accession_number
        in: query
        description: "Filter filings by exact accession number (e.g., `0001193125-20-209580`)."
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: SEC submissions retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionsByCIKResponse"
      x-swagger-router-controller: EDGAR
  /company_facts:
    get:
      tags:
      - EDGAR
      summary: Company Facts
      description: Returns all the company concepts data for a specific CIK.
      operationId: company_factsGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: cik_code
        in: query
        description: 10-digit SEC Central Index Key (with leading zeros).
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Company facts retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyFactsByCIKResponse"
      x-swagger-router-controller: EDGAR
  /concept/accounts_payable:
    get:
      tags:
      - EDGAR
      summary: Company Concepts for US GAAP Accounts Payable
      description: "This API endpoint returns all the disclosures from a single company\
        \ (CIK) and concept (a taxonomy and tag) into a single JSON file, with a separate\
        \ array of facts for each units on measure that the company has chosen to\
        \ disclose (e.g. net profits reported in U.S. dollars and in Canadian dollars)."
      operationId: conceptAccounts_payableGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: cik_code
        in: query
        description: 10-digit SEC Central Index Key (with leading zeros).
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Accounts Payable data retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountsPayableResponse"
      x-swagger-router-controller: EDGAR
  /frames/accounts_payable/{unit}:
    get:
      tags:
      - EDGAR
      summary: Company Concepts for US GAAP Accounts Payable in a Specific Unit
      description: "The frames API aggregates one fact for each reporting entity that\
        \ is the last filed that most closely fits the calendrical period requested.\
        \ This API supports annual, quarterly, and instantaneous data. This API endpoint\
        \ is made for the US-GAAP taxonomy and the Accounts Payable Current type of\
        \ the taxonomy.           \nWhere the units of measure specified in the API\
        \ contain a numerator and a denominator, these are separated by “-per-” such\
        \ as “USD-per-shares”. Note that the default unit in XBRL is “pure”.     \
        \      \nThe period format is CY#### for annual data (duration 365 days +/-\
        \ 30 days), CY####Q# for quarterly data (duration 91 days +/- 30 days), and\
        \ CY####Q#I for instantaneous data. Because company financial calendars can\
        \ start and end on any month or day and even change in length from quarter\
        \ to quarter according to the day of the week, the frame data is assembled\
        \ by the dates that best align with a calendar quarter or year. Data users\
        \ should be mindful of the different reporting start and end dates for facts\
        \ contained in a frame.\n"
      operationId: framesAccounts_payableUnitGET
      parameters:
      - name: access_key
        in: query
        description: Your Marketstack API access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: frame
        in: query
        description: This is the information of the frame for which we want to receive
          information.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: unit
        in: path
        description: The unit in which the data is requested. This parameter usually
          is USD. Validate and sanitize parameter inputs to ensure API security and
          expected input values.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Accounts Payable data in the specified unit retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameResponse"
      x-swagger-router-controller: EDGAR
components:
  schemas:
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          description: Returns your pagination limit value.
        offset:
          type: integer
          description: Returns your pagination offset value.
        count:
          type: integer
          description: Returns the results count on the current page.
        total:
          type: integer
          description: Returns the total count of results available.
      example:
        total: 5
        offset: 6
        limit: 0
        count: 1
    EODBar:
      type: object
      properties:
        open:
          type: number
          description: Opening price for the trading session.
          format: float
        high:
          type: number
          description: Highest price of the session.
          format: float
        low:
          type: number
          description: Lowest price of the session.
          format: float
        close:
          type: number
          description: Closing price of the session.
          format: float
        volume:
          type: number
          description: Traded volume during the session.
          format: float
        adj_high:
          type: number
          description: High price adjusted for corporate actions.
          format: float
        adj_low:
          type: number
          description: Low price adjusted for corporate actions.
          format: float
        adj_close:
          type: number
          description: Close price adjusted for corporate actions.
          format: float
        adj_open:
          type: number
          description: Open price adjusted for corporate actions.
          format: float
        adj_volume:
          type: number
          description: Volume adjusted for corporate actions.
          format: float
        split_factor:
          type: number
          description: Cumulative stock split factor applied for the date.
          format: float
        dividend:
          type: number
          description: Dividend amount per share for the date.
          format: float
        name:
          type: string
          description: Company name.
        exchange_code:
          type: string
          description: Human-friendly exchange code (for example NASDAQ).
        asset_type:
          type: string
          description: Asset class
        price_currency:
          type: string
          description: Price currency (ISO code in lower case).
        symbol:
          type: string
          description: Ticker symbol.
        exchange:
          type: string
          description: MIC of the exchange.
        date:
          type: string
          description: Timestamp of the bar in ISO8601 with timezone.
      description: End-of-day bar data for a single symbol and date.
      example:
        date: date
        split_factor: 1.4894159
        symbol: symbol
        volume: 3.6160767
        high: 2.302136
        adj_open: 1.2315135
        adj_high: 2.027123
        adj_volume: 1.0246457
        low: 7.0614014
        name: name
        asset_type: asset_type
        dividend: 6.846853
        adj_close: 7.386282
        exchange: exchange
        exchange_code: exchange_code
        close: 9.301444
        open: 5.637377
        price_currency: price_currency
        adj_low: 4.145608
    IntradayBar:
      description: Intraday bar data; fields identical to EOD with intraday timestamp.
      allOf:
      - $ref: "#/components/schemas/EODBar"
    EODResponse:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        data:
          type: array
          items:
            $ref: "#/components/schemas/EODBar"
      example:
        pagination:
          total: 5
          offset: 6
          limit: 0
          count: 1
        data:
        - date: date
          split_factor: 1.4894159
          symbol: symbol
          volume: 3.6160767
          high: 2.302136
          adj_open: 1.2315135
          adj_high: 2.027123
          adj_volume: 1.0246457
          low: 7.0614014
          name: name
          asset_type: asset_type
          dividend: 6.846853
          adj_close: 7.386282
          exchange: exchange
          exchange_code: exchange_code
          close: 9.301444
          open: 5.637377
          price_currency: price_currency
          adj_low: 4.145608
        - date: date
          split_factor: 1.4894159
          symbol: symbol
          volume: 3.6160767
          high: 2.302136
          adj_open: 1.2315135
          adj_high: 2.027123
          adj_volume: 1.0246457
          low: 7.0614014
          name: name
          asset_type: asset_type
          dividend: 6.846853
          adj_close: 7.386282
          exchange: exchange
          exchange_code: exchange_code
          close: 9.301444
          open: 5.637377
          price_currency: price_currency
          adj_low: 4.145608
    IntradayResponse:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        data:
          type: array
          items:
            $ref: "#/components/schemas/IntradayBar"
      example:
        pagination:
          total: 5
          offset: 6
          limit: 0
          count: 1
        data:
        - ""
        - ""
    CommodityResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CommodityResponse_data"
      example:
        data:
        - commodity_price: commodity_price
          percentage_week: percentage_week
          datetime: 2000-01-23T04:56:07.000+00:00
          commodity_unit: commodity_unit
          price_change_day: price_change_day
          percentage_year: percentage_year
          quarter3_25: quarter3_25
          quarter4_25: quarter4_25
          percentage_month: percentage_month
          percentage_day: percentage_day
          quarter2_25: quarter2_25
          commodity_name: commodity_name
          quarter1_25: quarter1_25
        - commodity_price: commodity_price
          percentage_week: percentage_week
          datetime: 2000-01-23T04:56:07.000+00:00
          commodity_unit: commodity_unit
          price_change_day: price_change_day
          percentage_year: percentage_year
          quarter3_25: quarter3_25
          quarter4_25: quarter4_25
          percentage_month: percentage_month
          percentage_day: percentage_day
          quarter2_25: quarter2_25
          commodity_name: commodity_name
          quarter1_25: quarter1_25
    CommodityHistoricalResponse:
      type: object
      properties:
        result:
          $ref: "#/components/schemas/CommodityHistoricalResponse_result"
      example:
        result:
          basics:
            frequency: frequency
          data:
          - commodity_unit: commodity_unit
            commodity_prices:
            - date: date
              commodity_price: commodity_price
            - date: date
              commodity_price: commodity_price
            commodity_name: commodity_name
          - commodity_unit: commodity_unit
            commodity_prices:
            - date: date
              commodity_price: commodity_price
            - date: date
              commodity_price: commodity_price
            commodity_name: commodity_name
    CompanyRatingsResponse:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CompanyRatingsResponse_status"
        result:
          $ref: "#/components/schemas/CompanyRatingsResponse_result"
      example:
        result:
          output:
            analysts:
            - analyst_firm: analyst_firm
              analyst_role: analyst_role
              rating:
                rated: rated
                conclusion: conclusion
                target_date: target_date
                date_rating: date_rating
                price_target: price_target
              analyst_name: analyst_name
            - analyst_firm: analyst_firm
              analyst_role: analyst_role
              rating:
                rated: rated
                conclusion: conclusion
                target_date: target_date
                date_rating: date_rating
                price_target: price_target
              analyst_name: analyst_name
            analyst_consensus:
              consensus_conclusion: consensus_conclusion
              analyst_lowest: analyst_lowest
              analyst_highest: analyst_highest
              buy: buy
              sell: sell
              analysts_number: analysts_number
              consensus_date: consensus_date
              stock_price: stock_price
              analyst_average: analyst_average
              hold: hold
          basics:
            ticker: ticker
            company_name: company_name
        status:
          code: 0
          details: details
          message: message
    SplitItem:
      type: object
      properties:
        symbol:
          type: string
          description: Ticker symbol the split applies to.
        date:
          type: string
          description: Date of the split.
        split_factor:
          type: number
[...]
